/* Login.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
.auth-redirect {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.auth-redirect a {
    color: #4CAF50;
    text-decoration: none;
}

.auth-redirect a:hover {
    text-decoration: underline;
}
